<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="container content-div">
		<div th:fragment="bookingform(url)">
	    	<form action="#" th:action="@{|/bookings/search|}" th:object="${booking}" method="post">
	    		<div>
			    	<input type="hidden" th:field="*{id}" />
		        	<div style="display: inline-block">
				        <label for="start"><i class='glyphicon glyphicon-calendar'></i> <span th:text="#{checkIn}"></span></label>
				        <input type="text" class="form-control" id="start" th:field="*{begin_date}"></input>
				    </div>
				    
				    <p></p>				
				
				    <div style="display: inline-block">
				        <label for="end"><i class='glyphicon glyphicon-calendar'></i> <span th:text="#{checkOut}"></span></label>
				        <input type="text" class="form-control" id="end" th:field="*{end_date}"/>
				    </div>	
				    <div>
				    
				    <p></p>
				    <label><i class="glyphicon glyphicon-profile"></i><span th:text="#{roomType}"></span></label>
			    	<select class="form-control" th:name="roomType">
	        			<option th:each="rt : ${roomTypes}" th:text="${rt.description + ' - ' +rt.occupancy}" th:value="${rt.id}"></option>
		        	</select>
		        	
		        	 <p></p>
				    <label th:text="#{numberOfRooms}"></label>
			    	<select id="ddl" class="form-control" th:name="numberRooms">
		        	</select>
		        	
		        	</div>	        	
	        	</div>
	    	    <p><input class="btn btn-primary" type="submit" value="Submit" /> <input class="btn btn-default" type="reset" th:value="#{reset}" /></p>
		    </form>
	    </div>
    </div>
    
</body>

</html>

